.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10 px;
  grid-auto-rows: minmax(100px, auto);
}



.test-diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -50px;
}
.test-diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: red;
}
